<ion-content [fullscreen]="true" class="home">

  <div class="header">
    <div>
      <ion-button class="apps" slot="icon-only">
        <ion-icon name="apps-outline"></ion-icon>
      </ion-button>
      <ion-text>
        <h1>Início</h1>
      </ion-text>
    </div>

    <div>
      <ion-button class="usuario">
        <ion-text>Renan Gabriel</ion-text>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="doutores">
    <div class="legenda">
      <div>
        <h1>Doutores em Destaques</h1>
      </div>

      <div class="muted">
        Ver Todos >
      </div>
    </div>

    <div class="slides">
      <swiper-container slides-per-view="3" space-between="0" grab-cursor="true">
        <swiper-slide>
          <div class="card-header">
            <div>
              <ion-icon name="heart"></ion-icon>
            </div>
            <div>
              <ion-icon name="star"></ion-icon>
              <p>4.9</p>
            </div>
          </div>

          <div class="card-body">
            <img src="../../assets/luciano.jfif">
            <h1>Dr. Pardal</h1>
            <span>R$ 80.00 / hora</span>
          </div>
        </swiper-slide>

        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 4</swiper-slide>
        <swiper-slide></swiper-slide>
      </swiper-container>
    </div>
  </div>

</ion-content>